@import"https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap";.text-gradient-primary {
  background: linear-gradient(to right, #9989F9, #D439F6, #FBB351);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}



*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: Inter, sans-serif;
  /* 4 */
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
  font-family: Inter, sans-serif;
}

blockquote,
dl,
dd,
figure,
p,
pre {
  margin: 0;
  font-family: Inter, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr {
  margin: 0;
  font-family: Inter,sans-serif;
  font-size: inherit;
  font-weight: inherit;
}

div {
  font-family: Inter,sans-serif;
}

header {
  background: linear-gradient(to bottom, #3f4347, #cdcccc);
}

.navbar-nav {
  display: flex;
  justify-content: center; /* выравнивание по горизонтали */
  margin: 0 auto; /* центрирование по горизонтали */
  padding: 0;
}

.nav-item {
  margin-right: 10px; /* отступы между вкладками */
}

.nav-item {
  font-weight: bold; /* установка жирного шрифта */
}

.center {
    background-image: url("assets/ponyalok.png");
    background-repeat: no-repeat;
    background-size: cover;
  
}


.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* делаем блок высотой на весь экран */
}

.button {
  display: inline-block;
  padding: 16px 24px;
  background-color: #808080; /* цвет фона */
  color: #fff; /* цвет текста */
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 50px; /* радиус скругления */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* тень */
  transition: all 0.3s ease-in-out; /* анимация при наведении */
}

.button:hover {
  background-color: #000000; /* цвет фона при наведении */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* увеличиваем тень */
  transform: translateY(-2px); /* сдвигаем кнопку вверх */
}

.button-wrapper {
  background-image: url('Qiwi.svg');
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 50px; /* чтобы устранить наложение текста на изображение */
}

.button-wrapper:hover {
  opacity: 0.8; /* для эффекта нажатия на кнопку */
}

.buy-button {
  background-color: #F2F2F2;
  border: 2px solid #000;
  border-radius: 5px;
  color: #000;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
}

.buy-button:hover {
  background-color: #ccc;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}




html, body {
  height: 100%;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd170;
background: linear-gradient(90deg, rgb(129, 202, 98) 0%, rgb(55, 152, 105) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(90, 209, 79, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #31a08a;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before, button:focus::before {
  opacity: 1;
}

button::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

button:hover::after, button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
